:root {
  --main-bg-color: rgb(129, 125, 125);
}

.grilla {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  display: grid;
  gap: 0.5rem;
  grid-auto-rows: max-content;
  background-color: var(--main-bg-color);
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}
.featured {
  grid-column: span 2;
}
.first {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.tittle {
  font-family: "Adamina";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: auto;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
html,
#fondo {
  background-color: var(--main-bg-color);
}

.bordes {
  border-color: rgb(18, 18, 18);
  border-width: 2px;
  border-style: solid;
  padding: 6px;
  background-color: rgb(226, 221, 221);
}
input {
  width: 60px;
  background-color: rgb(226, 221, 221);
}
